.home {
	background: url(../../assets/hero-banner.png);
	background-position: center;
	background-size: cover;
	/* display: flex; */
	/* justify-content: center; */
	/* align-items: center; */
	/* height: 100; */
}

.home .home-col:not(:first-child) {
	display: flex;
	justify-content: end;
}


.home .home-col {
	margin-top: 20px;
	/* padding: 0; */
}

.home .home-h1 {
	font-weight: 700;
	font-size: 48px;
	line-height: 75px;
	z-index: 100;
}

.home .home-img {
	width: 100%;
	height: 360px;
	border-radius: 4rem;
	box-shadow: 0 0 10px 0px rgba(49, 138, 255, 0.8);
}

.rooling_star {
	/* display: none; */
	animation: rooling 1300ms cubic-bezier(.445, .05, .55, .95) infinite alternate;
	/* position: absolute;
	top: 120px;
	right: 11%; */
	width: 55px;
	/* display: none; */
	margin-top: -17px;
	margin-left: 10px;
}

@media(max-width: 576px) {
	.home .home-col:not(:last-child) {
		/* transform: translateY(15px); */
		margin-bottom: 2rem;
	}

	.home .home-h1 {
		font-size: 38px;
		line-height: 65px;
	}

	.home .home-img {
		/* width: 100%; */
		height: 300px;
	}

	.home .home-col {
		margin-top: 0px;
	}

	.rooling_star {
		/* display: inline; */
	}
}

@media (min-width: 576px) and (max-width: 768px) {
	.home .home-col:not(:last-child) {
		/* transform: translateY(30px); */
	}

	.home .home-h1 {
		font-size: 28px;
		line-height: 35px;
	}

	.rooling_star {
		/* display: inline; */
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.home .home-col:not(:last-child) {
		/* transform: translateY(45px); */
	}

	.home .home-h1 {
		font-size: 38px;
		line-height: 51px;
	}
}

@media (min-width: 993px) and (max-width: 1200px) {
	.home .home-col:not(:last-child) {
		/* transform: translateY(65px); */
	}

	.home .home-h1 {
		font-size: 42px;
		/* line-height: 20px; */
	}
}

@media (min-width: 1201px) and (max-width: 1440px) {
	.home .home-col:not(:last-child) {
		/* transform: translateY(55px); */
	}

	.home .home-h1 {
		/*font-size: 38px;*/
	}
}

@media(max-width: 392px) {
	.home .home-h1 .surName {
		display: none;
	}
}

@keyframes rooling {
	from {
		transform: rotate(-15deg);
	}

	to {
		transform: rotate(375deg);
	}
}